@charset "UTF-8";

body {
    background-color: #1c1c1c;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
div {
    font-family: 'Microsoft JhengHei';
}



button {
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    display: inline-flex;
    font-family: Inter, sans-serif;
    font-size: 26px;
    font-weight: 700;
    height: 56px;
    justify-content: center;
    line-height: 24px;
   border: transparent;
    padding: 1.5rem;
    
    margin: auto ;
    margin-right: 10px;
    text-decoration: none;
    width: auto;
    align-items: center;
    border-radius: 20px;
}

button:hover {
    background-color: rgba(255, 255, 255, 0);
    color: white;
    
    box-shadow: 0px 0px 1px #ffffff;
}

section {
    padding: 10px;
}

.row {
    margin-right: 0px !important;
    margin-left: 0px !important;
}


.layout {
    margin: auto;
}

.layout .c-layout {
    width: 100%;
    margin: 10px;
}

/* .layout .g-layout {
    width: 40%;
    margin: 10px;
} */

.embed-container .embed-header .embed-title {
    color: white !important;
}

.embed-container {
    background-color: #161414 !important;
}

.screensaver .image {
    display: none !important;
}

#result_ga {
    color: white;
}

.act-users::before {
    content: '網站上有 ';
    font-size: 4rem;
    color: white !important;
}

.act-users::after {
    content: ' 個人很活躍';
    font-size: 4rem;
    color: white !important;
}

.act-users {
    text-align: center;
    font-size: 4rem;
    color: #f2b25e;
    margin-bottom: 1rem;
}

.page-title {
    font-size: 1.8rem;
}

.page-title #page_content {

    height: 1000px;
    overflow: scroll;
}

.page-title .c2,
.page-title .c3 {
    text-align: center !important;
    /* font-size: 1rem !important; */
}

.page-title .row div {
    border-bottom: 1px solid rgb(213, 213, 213);
    padding: 10px;

    height: 50px;
    white-space: nowrap;
}

.title-style {
    height: 55px !important;
    color: #f2b25e;
    font-size: 28px;
    text-align: center;
    margin: auto;
}

.title-style:nth-child(1) {
    letter-spacing: 0px;
}

.device-users {
    width: 100%;
    margin: auto;
    text-align: center;
}

.device-users .chart-device span {
    height: 30px;
    border-radius: 30px;
    padding: 10px 10px;
    margin-right: 30px;
    margin-bottom: 30px;

    font-size: 20px;

}

.chart-device {
    border-radius: 100px;
}

#block1 {
    background-color: #58a55c;
}

#block1:after {
    content: ' 手機';
}

#block2 {
    background-color: #2d2c2c;

}

#block2:after {
    content: ' 桌電';
}

#block3 {
    background-color: #5385ed;
}

#block3:after {
    content: ' 平板';
}

#d1 {
    background-color: #58a55c;
}

#d2 {
    background-color: #d85140;
}

#d3 {
    background-color: #5385ed;
}

.device-users .de-users-style {
    width: 100%;
    display: flex;
    list-style: none;
    margin-left: -10px;
}

.device-users .de-users-style li {
    text-align: center;
    height: 30px;
    font-size: 22px;
}

/* ct-header */

.news-layout {
    height: 900px;
    width: 99%;
    overflow-x: hidden;
    overflow-y: scroll;
}

.row-layout {
    border-radius: 10px;
    height: 100vh;
    text-align: center;
}

.row-layout header {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid gray;
    border-radius: 10px;
    padding: 10px 0;
    /* background-color: #2f2f2f; */
    width: 100%;
    border: 1px solid white;
}

.row-layout h2 {
    font-size: 1.2rem;
    color: white;
    padding: 0 10px;
    letter-spacing: 1px;
}

.row-layout img {
    width: 40px;
}

.row-layout .cover {
    width: 48px;
    border-radius: 50%;
}

/* ct-container */

.row-layout main section:nth-child(1) {
    display: flex;
    margin-bottom: 10px;
}

.row-layout main {
    padding: 10px 5px;
}

.row-layout main h2 {
    font-size: 1.1rem;
    color: wheat;
    padding-left: 10px;
    text-align: left;
}

.row-layout main h3 {
    color: white;
    font-size: 1rem;
    line-height: 2.3rem;
    padding: 0 10px;
}

.row-layout main p {
    display: block;
    color: white;
    text-align: left;
    padding-left: 10px;
}

.row-layout main p:nth-last-child(1) {
    background-color: #2f2f2f;
}

.row-layout main .post {
    padding: 10px;
    background-color: #1c1c1c;
}

.row-layout footer {
    border-bottom: 1px dashed #b1b1b1;
}

.row-layout footer span {
    display: block;
    color: white;
    text-align: left;
    font-size: 0.8rem;
}

.span {
    color: red;
    font-weight: bolder;
}

.c1 {
    font-size: 1.8rem;
    border-right: 1px solid;
}

.c2 {

    border-right: 1px solid;
}

/* google trends */
#rowGoogleTrends li {
    list-style: decimal-leading-zero;
    color: white;
    font-size: 23px;
}

tr:nth-child(even){
    background-color: #343a40;


}

.table-dark {
    color: #fff;
    background-color: #131313;
}


tr:nth-child(odd){
    background-color:  #343a40;


} 

.table td, .table th {
    padding: 0.45rem;
    vertical-align: top;
    /* border-top: 1px solid #dee2e6; */
}



/* bootstrap */
.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
    padding-right: 0px !important;
    padding-left: 0px !important;
}